* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
  width: 90%;
  max-width: 500px;
  height: 80vh;
  overflow: auto;
  background: #fff;
  padding: 0px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(46, 51, 61, 1);
}

.sticky {
  position: sticky;
  top: 0;
  padding: 10px 0px;
  background-color: white;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
  color: #333;
  font-size: 2em;
}

.child {
  margin-bottom: 10px;
}

#taskInput {
  width: 100%;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 8px;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  box-shadow: 0 10px 25px rgba(46, 51, 61, 0.3);
  font-size: 16px;
}

#taskInput:focus {
  border-color: #667eea;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btns button {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

#deleteAll {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
}

#addTaskButton {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
}

#addTaskButton:hover {
  background: #5563d6;
}
#deleteAll:hover {
  background: #5563d6;
}

.delete {
  background: crimson;
  color: white;
  border-radius: 8px;
  padding: 5px 8px;
  font-size: 11px;
}
.got {
  background: rgb(22, 130, 10);
  color: white;
  border-radius: 8px;
  padding: 5px 8px;
  font-size: 11px;
}

.delete:hover {
  background: darkred;
}
.got:hover {
  background: rgb(17, 88, 13);
}

.taskList {
  list-style: none;
  margin-top: 20px;
}

.taskList li {
  background: #f4f4f4;
  padding: 4px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-left: 5px solid #667eea;
  font-size: 16px;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-box {
  padding: 1px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Tablet */
@media (max-width: 768px) {
  .container {
    width: 95%;
    height: 85vh;
    padding: 20px;
  }

  h2 {
    font-size: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .container {
    width: 95%;
    height: 70vh;
    padding: 15px;
    overflow: auto;
  }

  h2 {
    font-size: 1.3rem;
  }

  #taskInput {
    font-size: 14px;
    padding: 10px;
  }

  .btns {
    flex-direction: column;
  }

  .btns button {
    width: 100%;
  }

  #taskList li {
    font-size: 14px;
    padding: 10px;
  }
}
